In [20]:
import pandas_datareader.data as web
import fix_yahoo_finance as yf
yf.pdr_override()
from datetime import date, timedelta
import matplotlib.pyplot as plt
import datetime

start = datetime.datetime(2018,5,10)
end = date.today()

SEC = web.get_data_yahoo("271560.KS", start, end)
SEC.head()

[*********************100%***********************]  1 of 1 downloaded

                Open      High       Low     Close  Adj Close  Volume
Date
2018-05-10  131500.0  135000.0  128000.0  130500.0   130500.0   85078
2018-05-11  129500.0  134000.0  129500.0  133500.0   133500.0   38882
2018-05-14  136000.0  137500.0  133000.0  133000.0   133000.0   61704
2018-05-15  131500.0  133500.0  124500.0  125000.0   125000.0  154392
2018-05-16  126500.0  134500.0  126500.0  132500.0   132500.0  208081

In [6]:
import numpy as np

In [8]:
import numpy as np

np.loadtxt('../dataset/testnumpy.txt',
           delimiter= ',')

array([[1., 2., 3.],
       [4., 5., 6.]])

In [9]:
np.

SyntaxError: invalid syntax (<ipython-input-9-df0eca0bfa5c>, line 1)

#
asd

##하이

#numpy 를 as np로

##하이

#ㅁㄴㅁㄴ

###ㅁㄴㅇㅁㄴ

#

###ㅁㄴㅁㄴㅇ

ModuleNotFoundError: No module named 'fix_yahoo_finance'

SyntaxError: invalid syntax (<ipython-input-11-4bc01677d175>, line 1)

In [3]:
import pandas_datareader.data as web
import fix_yahoo_finance as yf
yf.pdr_override()
from datatime import date, timedelta
import matplotlib.pyplot as plt
import datetime

start = datetime.datetime(2017,4,1)
end = date.today()

SEC = web.get_data_yahoo("005930.KS", start, end)
SEC.head()

ModuleNotFoundError: No module named 'datatime'

In [7]:
import urllib.parse
import pandas as pd

MARKET_CODE_DICT = {
    'kospi': 'stockMkt',
    'kosdaq': 'kosdaqMkt',
    'konex': 'konexMkt'
}

DOWNLOAD_URL = 'kind.krx.co.kr/corpgeneral/corpList.do'

def download_stock_codes(market=None, delisted=False):
    params = {'method': 'download'}

    if market.lower() in MARKET_CODE_DICT:
        params['marketType'] = MARKET_CODE_DICT[market]

    if not delisted:
        params['searchType'] = 13

    params_string = urllib.parse.urlencode(params)
    request_url = urllib.parse.urlunsplit(['http', DOWNLOAD_URL, '', params_string, ''])

    df = pd.read_html(request_url, header=0)[0]
    df.종목코드 = df.종목코드.map('{:06d}'.format)

    return df


kosdaq_stocks = download_stock_codes('kospi')
kosdaq_stocks.head()
kosdaq_stocks.to_csv("d:/kospi.csv", index=False, encoding="utf-8-sig")
#encoding="utf-8-sig"
type(kosdaq_stocks)
kosdaq_stocks.head(5)

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,AJ렌터카,068400,운송장비 임대업,승용자동차 임대,2012-07-27,12월,홍성관,http://www.ajrentacar.co.kr,서울특별시
1,E1,017940,기타 전문 도매업,"LPG(프로판,부탄가스),가스기기판매",1997-08-27,12월,구자용 사장,http://www.e1.co.kr,서울특별시
2,GKL,114090,유원지 및 기타 오락관련 서비스업,카지노,2009-11-19,12월,이기우,http://www.grandkorea.com,서울특별시
3,KR모터스,000040,그외 기타 운송장비 제조업,"이륜차(오토바이) 제조,도매",1976-05-25,12월,"성상용, 서정민 (각자 대표이사)",http://www.krmotors.com,경상남도
4,LG화학,051910,기초 화학물질 제조업,"유화/기능/합성수지,재생섬유소,산업재,리튬이온전지,평광판,PVC 제조,도매",2001-04-25,12월,박진수,http://www.lgchem.com,서울특별시