# 1

In [ ]:
[데이터 불러오기] MYSQL에서 KOPO_PRODUCT_VOLUME 테이블을 불러온 후 ORACLE 테이블에 KOPO_PY_{이름}_FINAL1 테이블로 생성하세요

In [ ]:
KOPO_PRODUCT_VOLUME

In [1]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
 
engine_mysql = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo')  # paswword 디폴트값. 이렇게 사용한다고.

engine_oracle = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')
# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME', engine_mysql) 

# # 컬럼해더 재정의
# customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
print(customerData.head())

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [2]:
# 데이터 저장
resultname='KOPO_PY_신성우_FINAL1'

customerData.to_sql(resultname, engine_oracle, if_exists='replace', index=False)

# 2
[데이터 조작하기] ORACLE에서 KOPO_PRODUCT_VOLUME 테이블을 불러온 후 2016년도 자료만 남기고 ORACLE 테이블에 KOPO_PY_{이름}_FINAL2 테이블로 생성하세요

In [28]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine1 = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
# customerData1 = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME', engine1) 

customerData1 = pd.read_sql_query('select * from KOPO_PRODUCT_VOLUME WHERE TO_CHAR(SUBSTR(YEARWEEK, 1,4)) = 2016 ', engine1) 



customerData1.columns = ['regionid','productgroup','yearweek','volume']

# 데이터 VIEW
customerData1.head()

  regionid productgroup yearweek    volume
0      A01       ST0001   201605  661049.0
1      A01       ST0002   201605  231214.0
2      A01       ST0001   201603  531372.0
3      A01       ST0002   201603  152763.0
4      A01       ST0001   201601  651243.0

In [29]:

# 데이터 저장
resultname='KOPO_PY_신성우_FINAL2'

customerData1.to_sql(resultname, engine1, if_exists='replace', index=False)

# 3

In [239]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('https://www.timeanddate.com/holidays/south-korea/')
#resp.encoding='utf-8-sig'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')


# title 가져오기
title = bs.select(".sep")
titleResult=[]
for tlist in title:
    titleResult.append(tlist.text)
    
titleResult

['Weekday', 'Holiday Name', 'Holiday Type']

In [247]:

# # test = bs.select("#tr0 > td")

# # test

# #tr0 > td.nw
# # stock_list = bs.find("tbody").find
# # stock_list

# #tr0 > td.nw
# bs



# # tr0 > td:nth-child(4)
# # body > div.wrapper > div.main-content-div > article > section.article > div.tb-scroll > table > tbody
# # list2 = bs.select("#tr0")



# list2 =[]
# listfinal =[]
# for i in range(10):
#     a = "body > div.wrapper > div.main-content-div > article > section.article > div.tb-scroll > table > tbody > tr#tr" + str(i)
#     list2 = bs.select(a)
#     for i in range(10)
#     listfinal
# list2

In [287]:

holidaysList = bs.select("tbody > tr")


holidaysList_Weekday = []
holidaysList_HolidayName = []
holidaysList_HolidayType =[]

holidaysList


    
    
# for holiday_one in holidaysList:

    
# holiday_one = 곧 tr 전체.  이 안에서 다시 findAll("td") 로 td 전체다 가져와서, for문 돌면서 하나 하나 list에 text로 담으면 끝

# 
    
   
#     Weekday_name = holiday_one.find('td').text
#     holidaysList_Weekday.append(Weekday_name)
    
#     HolidayName_name = holiday_one.find('a').text
#     holidaysList_HolidayName.append(HolidayName_name)

# #     HolidayType_name = holiday_one.select_one("td:nth-child(4)")
# #     HolidayType_name = holiday_one.select_one("#tr0")
    
#     HolidayType_name = holiday_one.find("td" , "td")
    
#     holidaysList_HolidayType.append(HolidayType_name)
    
# holidaysList_HolidayType

#     price = bs.select_one("div.head_info > span.value").string
#tr0 > td.nw
# td:nth-child(4)
# find_attr = bs.find("div",{"id":"id_db_quiz"})

# list1 = pd.DataFrame(holidaysList_Weekday)
# list2 = pd.DataFrame(holidaysList_HolidayName)
# final = pd.concat([list1,list2], axis = 1)
# final.columns= ["Weekday_name", "HolidayName"]
# final


# resultname='KOPO_PY_신성우_FINAL3'

# final.to_sql(resultname, engine1, if_exists='replace', index=False)

[<tr class="c0" id="tr0"><th class="nw">Jan 1</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/new-year-day">New Year's Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr1"><th class="nw">Feb 9</th><td class="nw">Friday</td><td><a href="/holidays/southkorea/winter-olympics-2018">2018 Winter Olympics start</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr2"><th class="nw">Feb 14</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/valentines-day">Valentine's Day</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr3"><th class="nw">Feb 15</th><td class="nw">Thursday</td><td><a href="/holidays/southkorea/seollal-holiday-1">Seollal Holiday</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr4"><th class="nw">Feb 16</th><td class="nw">Friday</td><td><a href="/holidays/southkorea/seollal-holiday-2">Seollal</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr5"><th class="nw">Feb 17</th><td class="nw">Saturday</td><td><a href="/holidays/southkorea/seollal-holiday-3">Seollal Holiday</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr6"><th class="nw">Feb 25</th><td class="nw">Sunday</td><td><a href="/holidays/southkorea/winter-olympics-2018">2018 Winter Olympics end</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr7"><th class="nw">Mar 1</th><td class="nw">Thursday</td><td><a href="/holidays/southkorea/independence-movement-day">Independence Movement Day</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr8"><th class="nw">Mar 9</th><td class="nw">Friday</td><td><a href="/holidays/southkorea/winter-paralympics-2018">2018 Winter Paralympics start</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr9"><th class="nw">Mar 18</th><td class="nw">Sunday</td><td><a href="/holidays/southkorea/winter-paralympics-2018">2018 Winter Paralympics end</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr10"><th class="nw">Mar 20</th><td class="nw">Tuesday</td><td><a href="/calendar/march-equinox.html">March equinox</a></td><td>Season</td></tr>,
 <tr class="c1" id="tr11"><th class="nw">Apr 5</th><td class="nw">Thursday</td><td><a href="/holidays/southkorea/arbor-day">Arbor Day</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr12"><th class="nw">May 1</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/labor-day">Labor Day</a></td><td>Bank Holiday</td></tr>,
 <tr class="c1" id="tr13"><th class="nw">May 5</th><td class="nw">Saturday</td><td><a href="/holidays/southkorea/childrens-day">Children's Day</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr14"><th class="nw">May 7</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/childrens-day">Children's Day observed</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr15"><th class="nw">May 8</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/parents-day">Parents' Day</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr16"><th class="nw">May 15</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/teachers-day">Teacher's Day</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr17"><th class="nw">May 22</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/buddha-birthday">Buddha's Birthday</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr18"><th class="nw">Jun 6</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/memorial-day">Memorial Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr19"><th class="nw">Jun 13</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/local-election-day">Local Election Day</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr20"><th class="nw">Jun 21</th><td class="nw">Thursday</td><td><a href="/calendar/june-solstice.html">June Solstice</a></td><td>Season</td></tr>,
 <tr class="c1" id="tr21"><th class="nw">Jul 17</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/constitution-day">Constitution Day</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr22"><th class="nw">Aug 15</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/liberation-day">Liberation Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr23"><th class="nw">Sep 23</th><td class="nw">Sunday</td><td><a href="/calendar/september-equinox.html">September equinox</a></td><td>Season</td></tr>,
 <tr class="c0" id="tr24"><th class="nw">Sep 23</th><td class="nw">Sunday</td><td><a href="/holidays/southkorea/mid-autumn-festival-day-1">Chuseok Holiday</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr25"><th class="nw">Sep 24</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/mid-autumn-festival-day-2">Chuseok</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr26"><th class="nw">Sep 25</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/mid-autumn-festival-day-3">Chuseok Holiday</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr27"><th class="nw">Sep 26</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/mid-autumn-festival-day-4">Chuseok Holiday</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr28"><th class="nw">Oct 1</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/armed-forces-day">Armed Forces Day</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr29"><th class="nw">Oct 3</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/national-foundation-day">National Foundation Day</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr30"><th class="nw">Oct 9</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/hangeul-day">Hangeul Proclamation Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr31"><th class="nw">Oct 31</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/halloween">Halloween</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr32"><th class="nw">Dec 21</th><td class="nw">Friday</td><td><a href="/calendar/december-solstice.html">December Solstice</a></td><td>Season</td></tr>,
 <tr class="c1" id="tr33"><th class="nw">Dec 24</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/christmas-eve">Christmas Eve</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr34"><th class="nw">Dec 25</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/christmas-day">Christmas Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr35"><th class="nw">Dec 31</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/new-year-eve">New Year's Eve</a></td><td>Observance</td></tr>]

# 다른 사람 코드

In [286]:
import pandas as pd
from sqlalchemy import create_engine 
import requests, bs4, pandas as pd, numpy as np
resp = requests.get('https://www.timeanddate.com/holidays/south-korea/')
resp.encoding='utf-8'
html=resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')


lists=[]
alldfcontents=[]

columns=bs.select(' tr.head > th.sep' )
contents=bs.select(' tbody > tr ')

columnlist=[]
for column in columns:
    columnlist.append(column.text)
columnlist




# for content in contents:
#     tds=content.findAll("td")   
#     for num in tds:
#         if(num.text=="None"):
#             continue;
#         lists.append(num.text)
#     alldfcontents.append(lists)
#     lists=[]
# alldfcontents

for content in contents:
    tds=content.findAll("td")    # 이게 핵심. tr안에서 td 다 가져와서 하나씩 text를 list에 넣는거다.
    for num in tds:
#         print(num, "num")
        lists.append(num.text)
    alldfcontents.append(lists)
    lists=[]
alldfcontents


# columnslist1=["DATE"]
# columnslist1

# contents1=bs.select(' tbody > tr.c0 > th.nw')
# contents1

# lists1=[]
# datelists=[]

# for content in contents1:
#     if(content.text=="None"):
#          continue;
#     lists1.append(content.text)
#     datelists.append(lists1)
#     lists1=[]
    
# datelists

# result1=pd.DataFrame(columns=columnslist1, data=datelists )
# result2=pd.DataFrame(columns=columnlist, data=alldfcontents )
# result2.columns = ["WEEK","HOLIDAY_NAME","HOLIDAY_TYPE"]


# finalresult = pd.concat([result1,result2], axis=1)
# finalresult.head()

# resultname='KOPO_PY_신성우_FINAL3'

# finalresult.to_sql(resultname, engine1, if_exists='replace', index=False)

[['Monday', "New Year's Day", 'National holiday'],
 ['Friday', '2018 Winter Olympics start', 'Observance'],
 ['Wednesday', "Valentine's Day", 'Observance'],
 ['Thursday', 'Seollal Holiday', 'National holiday'],
 ['Friday', 'Seollal', 'National holiday'],
 ['Saturday', 'Seollal Holiday', 'National holiday'],
 ['Sunday', '2018 Winter Olympics end', 'Observance'],
 ['Thursday', 'Independence Movement Day', 'National holiday'],
 ['Friday', '2018 Winter Paralympics start', 'Observance'],
 ['Sunday', '2018 Winter Paralympics end', 'Observance'],
 ['Tuesday', 'March equinox', 'Season'],
 ['Thursday', 'Arbor Day', 'Observance'],
 ['Tuesday', 'Labor Day', 'Bank Holiday'],
 ['Saturday', "Children's Day", 'National holiday'],
 ['Monday', "Children's Day observed", 'National holiday'],
 ['Tuesday', "Parents' Day", 'Observance'],
 ['Tuesday', "Teacher's Day", 'Observance'],
 ['Tuesday', "Buddha's Birthday", 'National holiday'],
 ['Wednesday', 'Memorial Day', 'National holiday'],
 ['Wednesday', 'Local Election Day', 'National holiday'],
 ['Thursday', 'June Solstice', 'Season'],
 ['Tuesday', 'Constitution Day', 'Observance'],
 ['Wednesday', 'Liberation Day', 'National holiday'],
 ['Sunday', 'September equinox', 'Season'],
 ['Sunday', 'Chuseok Holiday', 'National holiday'],
 ['Monday', 'Chuseok', 'National holiday'],
 ['Tuesday', 'Chuseok Holiday', 'National holiday'],
 ['Wednesday', 'Chuseok Holiday', 'National holiday'],
 ['Monday', 'Armed Forces Day', 'Observance'],
 ['Wednesday', 'National Foundation Day', 'National holiday'],
 ['Tuesday', 'Hangeul Proclamation Day', 'National holiday'],
 ['Wednesday', 'Halloween', 'Observance'],
 ['Friday', 'December Solstice', 'Season'],
 ['Monday', 'Christmas Eve', 'Observance'],
 ['Tuesday', 'Christmas Day', 'National holiday'],
 ['Monday', "New Year's Eve", 'Observance']]

In [180]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp2 = requests.get('https://www.timeanddate.com/holidays/south-korea/')
#resp.encoding='utf-8-sig'
html2 = resp2.text

bs2 = bs4.BeautifulSoup(html2, 'html.parser')


# list = bs2.select("tbody > #tr0 > td.nw")

list = bs2.select("tbody > tr > td-child")
list

list2 = bs2.select("tbody > tr > td:child")
list2

#tr0 > td:nth-child(4)
#tr0 > td:nth-child(4)

# holidaysList_HolidayType =[]
# for holiday_one in holidaysList:
#     HolidayType_name = holiday_one.find('td > td').text
#     holidaysList_HolidayType.append(HolidayType_name)



# holidaysList_HolidayType

NotImplementedError: Only the following pseudo-classes are implemented: nth-of-type.

# 3번 정답.. 열심히 하겠습니다

In [267]:
import pandas as pd
from sqlalchemy import create_engine 
import requests, bs4, pandas as pd, numpy as np
resp = requests.get('https://www.timeanddate.com/holidays/south-korea/')
resp.encoding='utf-8'
html=resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')


lists=[]
alldfcontents=[]

columns=bs.select(' tr.head > th.sep' )
contents=bs.select(' tbody > tr ')

columnlist=[]
for column in columns:
    columnlist.append(column.text)
columnlist




for content in contents:
    tds=content.findAll("td")
    
tds    
#     for num in tds:
#         if(num.text=="None"):
#             continue;
#         lists.append(num.text)
#     alldfcontents.append(lists)
#     lists=[]
# alldfcontents




# columnslist1=["DATE"]
# columnslist1

# contents1=bs.select(' tbody > tr.c0 > th.nw')
# contents1

# lists1=[]
# datelists=[]

# for content in contents1:
#     if(content.text=="None"):
#          continue;
#     lists1.append(content.text)
#     datelists.append(lists1)
#     lists1=[]
    
# datelists

# result1=pd.DataFrame(columns=columnslist1, data=datelists )
# result2=pd.DataFrame(columns=columnlist, data=alldfcontents )
# result2.columns = ["WEEK","HOLIDAY_NAME","HOLIDAY_TYPE"]


# finalresult = pd.concat([result1,result2], axis=1)
# finalresult.head()

# resultname='KOPO_PY_신성우_FINAL3'

# finalresult.to_sql(resultname, engine1, if_exists='replace', index=False)

[<td class="nw">Monday</td>,
 <td><a href="/holidays/southkorea/new-year-eve">New Year's Eve</a></td>,
 <td>Observance</td>]