In [ ]:
# {} 정체가 뭐냐?

In [61]:
a = 2**3
b=3%2
print(a , b)
print("{} {}".format(a,b)) # format에 값들이 {} 안에 순서대로 들어간다
print("{} {} {}".format(a,b,5)) # format에 값들이 {} 안에 순서대로 들어간다
print("{0} {1}".format(a,b)) # 이렇게 번호를 줘도 된다

8 1
8 1
8 1 5
8 1

#### quiz 5번 문제 index로

In [63]:
testList  = [100,200,300,400,500]

del testList[testList.index(300)] #300을 삭제하라!

print(testList)

[100, 200, 400, 500]

In [64]:

# 이렇게 dit, list 등으로 자료를 만들고, 데이터프레임을 생성해서
# 데이터를 조작하고 정제하려고 쓰는거다.

# 데이터 프레임 라이브러리 활용
import pandas as pd

# 딕셔너리를 활용한 데이터프레임 생성

data = {'name': ['A고객','B고객','C고객','D고객'],
        'age': [27,40,33,29],
        'stock_age': [2,10,5,1]}
print(data)
print(type(data))
print(data["name"])
print("")

dataFrame = pd.DataFrame(data)

# 데이터 프레임 : 스프레드시트 형태의 자료구조(행과 열이 있는)
# pands 자체가 오름차순으로 보여준다
print(dataFrame)
print("")
print(type(dataFrame))
print("")
# 데이터 조작해서 순서를 바꿔볼 수 있다.
print(dataFrame[[ "stock_age", "name"]])

{'name': ['A고객', 'B고객', 'C고객', 'D고객'], 'age': [27, 40, 33, 29], 'stock_age': [2, 10, 5, 1]}
<class 'dict'>
['A고객', 'B고객', 'C고객', 'D고객']

   age name  stock_age
0   27  A고객          2
1   40  B고객         10
2   33  C고객          5
3   29  D고객          1

<class 'pandas.core.frame.DataFrame'>

   stock_age name
0          2  A고객
1         10  B고객
2          5  C고객
3          1  D고객

In [65]:
import pandas as pd
# 리스트 생성
test = [10,100,1000,10000]
# 데이터프레임 변환
testDf = pd.DataFrame(test)
testDf

testDf.columns=["test"]
testDf

    test
0     10
1    100
2   1000
3  10000

In [66]:
import pandas as pd
test1  =  [ 20,30,40,50,60]

testDf1 = pd.DataFrame(test1)
testDf1

testDf1.columns = [ 'test1']
testDf1

   test1
0     20
1     30
2     40
3     50
4     60

In [2]:
import pandas as pd
date1 = ['16.02.29', '16.02.26', '16.02.25', '16.02.24', '16.02.23']
date2 = ['17.02.29', '17.02.26', '17.02.25', '17.02.24', '17.02.23']

date_df = pd.DataFrame(date1, columns=['date1'])
date_df2 = pd.DataFrame(date2, columns=['date2'])

final = pd.concat([date_df,date_df2], axis = 1) # 합쳐서, 가로로 보여주라
final

      date1     date2
0  16.02.29  17.02.29
1  16.02.26  17.02.26
2  16.02.25  17.02.25
3  16.02.24  17.02.24
4  16.02.23  17.02.23

In [ ]:
#myListTop1 > li:nth-child(1) > a