# 아래 사이트에서 시가총액 상위 7개를 스크랩핑하여 주가명/시가 를 데이터프레임으로 만들어서 오라클 데이터베이스에 kopo_stock_st_이름 으로 저장하세요http://finance.daum.net/quote/marketvalue.daum (컬럼명: stock_name, stock_price)

## 주가

소스 합치기

In [29]:
import requests, bs4, pandas as pd, numpy as np
 

#price
resp = requests.get('http://finance.daum.net/quote/marketvalue.daum')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')

FinancePrice = bs.findAll("span",{"class":"cost num"}, limit=7)

FinanceListPriceResult=[]
for flist in FinancePrice:
    FinanceListPriceResult.append( float( flist.text.replace(",", "") ) )


#name
resp1 = requests.get('http://finance.daum.net/quote/marketvalue.daum')
resp1.encoding='utf-8'
html1 = resp1.text
bs1 = bs4.BeautifulSoup(html1, 'html.parser')


FinanceName = bs1.find("ul",{"id":"myListTop1"})
FinanceNameResult = bs1.find("ul",{"id":"myListTop1"}).findAll("a", limit=7)

FinanceListNameResult=[]
for flist in FinanceNameResult:
    FinanceListNameResult.append(flist.text)

df1=pd.DataFrame(data=FinanceListNameResult)
df2=pd.DataFrame(data=FinanceListPriceResult ) 

result = pd.concat([df1, df2], axis=1)
result.columns= ["stock_name", "stock_price"]
print(result)


import pandas as pd 
import pymssql
from sqlalchemy import create_engine 
engine_oracle = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')
resultname='KOPO_STOCK_ST_신성우1'
result.to_sql(resultname, engine_oracle, if_exists='replace', index=False)

   stock_name  stock_price
0        삼성전자      47650.0
1      SK하이닉스      87000.0
2        셀트리온     298500.0
3       삼성전자우      37800.0
4       POSCO     365000.0
5         현대차     134000.0
6   삼성바이오로직..     408000.0

# 교수님 하신것

In [1]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://finance.daum.net/quote/marketvalue.daum')
#resp.encoding='utf-8-sig'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

stock_list = bs.select("#myListTop1 > li")
#stock_list = bs.find("ul",{"id":"myListTop1"}).findAll("li")
#stock_list[0].find('a').text
count = 0
stock_nameList = []
stock_priceList = []

for stock_one in stock_list:
    if count > 6:
        break
    stock_name = stock_one.find('a').text
    stock_price = float(stock_one.find("span",{"class":"cost num"}).text.replace(",", ""))
    stock_nameList.append(stock_name)
    stock_priceList.append(stock_price)
    count += 1
    #print(count, stock_name, stock_price,count)
list1 = pd.DataFrame(stock_nameList)
list2 = pd.DataFrame(stock_priceList)
final = pd.concat([list1,list2], axis = 1)
final.columns= ["stock_name", "stock_price"]
final


# import pandas as pd 
# import pymssql
# from sqlalchemy import create_engine 
# engine_oracle = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')
# resultname='kopo_stock_st_ssw'
# final.to_sql(resultname, engine_oracle, if_exists='replace', index=False)

   stock_name  stock_price
0        삼성전자      46400.0
1      SK하이닉스      88300.0
2        셀트리온     293500.0
3       삼성전자우      36800.0
4       POSCO     339000.0
5         현대차     130000.0
6   삼성바이오로직..     429000.0

# 데이터 불러오기 from 분산파일시스템 (hadoop)

In [82]:
# pip hdfs install 해야 한다
# Pandas and hdfs 패키지
import pandas as pd
from hdfs import InsecureClient
import os
# hdfs 설정 (접속주소 설정)
client_hdfs = InsecureClient('http://192.168.110.114:50070')  


# Test PandasDataFrame 생성 및 넣기
liste_hello = ['hello1','hello2']
liste_world = ['world1','world2']
df = pd.DataFrame(data = {'hello' : liste_hello, 'world': liste_world})


# 데이터프레임 hdfs에 저장
with client_hdfs.write('/mydata/helloworld_ssw.csv', encoding = 'utf-8') as writer:
    df.to_csv(writer)
    

# 데이터 읽기
# ====== Reading files ======
with client_hdfs.read('/mydata/helloworld_ssw.csv', encoding = 'utf-8') as reader:
    readdf=pd.read_csv(reader,index_col=0) #reader 환경 path
    
readdf

    hello   world
0  hello1  world1
1  hello2  world2