 ### 1번

1.list(range()) 함수를 적용하여 1에서 20까지 2단계씩 증가하는 리스트를 생성하세요

In [8]:
a = list(range(1,20, 2))

print(a)


list(range)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 2번

2번 풀이 1번째

nations = ["A01","미국","A02","한국","A03","프랑스"] 에서 while 문을 활용하여 리스트에서 국가명만 프린트하세요

In [4]:
nations = ["A01","미국","A02","한국","A03","프랑스"] 

nations[1]

i=1
while i<=len(nations):
    print(nations[i])
    i= i+2

미국
한국
프랑스

2번 풀이 2번째

In [6]:
nations = ["A01","미국","A02","한국","A03","프랑스"] 

i=0
while i<=len(nations):
    if(i%2 != 0):
        print(nations[i])
    i= i+1

미국
한국
프랑스

### 3번

3번 풀이

nations = ["A01","미국","A02","한국","A03","프랑스"] 에서 for 문을 활용하여 리스트에서 국가코드만 프린트하세요

In [30]:
nations = ["A01","미국","A02","한국","A03","프랑스"] 
for i in range(0, len(nations), 2):
         print(nations[i])

A01
A02
A03

In [20]:
nations = ["A01","미국","A02","한국","A03","프랑스"] 

print(nations.index(i))   

for i in nations:
    if (nations.index(i)%2!=1):
        print(i)

5
A01
A02
A03

In [15]:
nations = ["A01","미국","A02","한국","A03","프랑스"] 
# print(nations[1])
for i in range(1, len(nations)):
    if i % 2 !=0:
        print(nations[i])

미국
한국
프랑스

### 데이터 불러오기 from csv

In [2]:
# PANDAS 패키지 불러오기
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/CUSTOMERDATA.csv")

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
    
# CSV 파일로 저장
customerData.to_csv("../dataset/customerdata_out.csv", index=False)
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

### 데이터 불러오기 from 데이터베이스(Oracle)

In [2]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata', engine) 

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
print(customerData.head())

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

In [4]:
# 데이터 저장
# 연결했던 db에 oracleresult_ssw 이름으로 저장한다.
# resultname은 아예 대문자나, 소문자로 해야 데이터베이스에서 검색이 된다. 혼합하면 검색이 안됨
resultname='oracleresult_ssw'
customerData.to_sql(resultname, engine, if_exists='replace', index=False)

### 데이터 불러오기 from 데이터베이스(mysql)

#### oracle server에서 data 불러오고, 그 data를 mysql server에 저장하는걸로 실습함

In [25]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine_oracle = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 
engine_mysql = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo')  # paswword 디폴트값. 이렇게 사용한다고.

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata', engine_oracle) 

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
print(customerData.head())


# 데이터 저장
resultname='customerdata_ssw'
customerData.to_sql(resultname, engine_mysql, if_exists='replace', index=False)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  T11473  4165.700000    3          6.7    1.780674  Big-Screen-lover
1  T11512  3428.518977    2          4.7    3.483573      Sleeping-dog
2  T12735  3993.263836    2          4.8    2.535829      Sleeping-dog
3  T13866  3732.900000    2          5.1    2.812051  Big-Screen-lover
4  T16556  3166.013276    2          6.4    0.900000        Early-bird

### 이게 원래 실습하려는 의도

In [29]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine_mysql = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata_ssw', engine_mysql) 

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
print(customerData.head())

# 데이터 저장
resultname='customerdata_ssw_2'
customerData.to_sql(resultname, engine_mysql, if_exists='replace', index=False)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  T11473  4165.700000    3          6.7    1.780674  Big-Screen-lover
1  T11512  3428.518977    2          4.7    3.483573      Sleeping-dog
2  T12735  3993.263836    2          4.8    2.535829      Sleeping-dog
3  T13866  3732.900000    2          5.1    2.812051  Big-Screen-lover
4  T16556  3166.013276    2          6.4    0.900000        Early-bird

### postgresql 불러오기
##### pip psycopg2 install 해야 한다

In [47]:
# PANDAS 패키지 불러오기
import pandas as pd 
import psycopg2 
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
# id:pw 
engine = create_engine('postgresql+psycopg2://kopo:kopo@192.168.110.111:5432/kopo')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerdata_ssw = pd.read_sql_query('SELECT * FROM customerdata', engine) 

# 컬럼해더 재정의
customerdata_ssw.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
print(customerData.head())

# 데이터 저장
resultname='customerdata_ssw'
customerdata_ssw.to_sql(resultname, engine, if_exists='replace', index=False)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog