# 1

In [ ]:
[데이터 불러오기] MYSQL에서 KOPO_PRODUCT_VOLUME 테이블을 불러온 후 ORACLE 테이블에 KOPO_PY_{이름}_FINAL1 테이블로 생성하세요

In [ ]:
KOPO_PRODUCT_VOLUME

In [1]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
 
engine_mysql = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo')  # paswword 디폴트값. 이렇게 사용한다고.

engine_oracle = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')
# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME', engine_mysql) 

# # 컬럼해더 재정의
# customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
print(customerData.head())

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [2]:
# 데이터 저장
resultname='KOPO_PY_신성우_FINAL1'

customerData.to_sql(resultname, engine_oracle, if_exists='replace', index=False)

# 2
[데이터 조작하기] ORACLE에서 KOPO_PRODUCT_VOLUME 테이블을 불러온 후 2016년도 자료만 남기고 ORACLE 테이블에 KOPO_PY_{이름}_FINAL2 테이블로 생성하세요

In [28]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine1 = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
# customerData1 = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME', engine1) 

customerData1 = pd.read_sql_query('select * from KOPO_PRODUCT_VOLUME WHERE TO_CHAR(SUBSTR(YEARWEEK, 1,4)) = 2016 ', engine1) 



customerData1.columns = ['regionid','productgroup','yearweek','volume']

# 데이터 VIEW
customerData1.head()

  regionid productgroup yearweek    volume
0      A01       ST0001   201605  661049.0
1      A01       ST0002   201605  231214.0
2      A01       ST0001   201603  531372.0
3      A01       ST0002   201603  152763.0
4      A01       ST0001   201601  651243.0

In [29]:

# 데이터 저장
resultname='KOPO_PY_신성우_FINAL2'

customerData1.to_sql(resultname, engine1, if_exists='replace', index=False)

# 3번 정답.. 열심히 하겠습니다

In [260]:
import pandas as pd
from sqlalchemy import create_engine 
import requests, bs4, pandas as pd, numpy as np
resp = requests.get('https://www.timeanddate.com/holidays/south-korea/')
resp.encoding='utf-8'
html=resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')


lists=[]
alldfcontents=[]

columns=bs.select(' tr.head > th.sep' )
contents=bs.select(' tbody > tr ')

columnlist=[]
for column in columns:
    columnlist.append(column.text)

for content in contents:
    tds=content.findAll("td")
    for num in tds:
        if(num.text=="None"):
            continue;
        lists.append(num.text)
    alldfcontents.append(lists)
    lists=[]


columnslist1=["DATE"]

contents1=bs.select(' tbody > tr.c0 > th.nw')

lists1=[]
datelists=[]

for content in contents1:
    if(content.text=="None"):
         continue;
    lists1.append(content.text)
    datelists.append(lists1)
    lists1=[]

result1=pd.DataFrame(columns=columnslist1, data=datelists )
result2=pd.DataFrame(columns=columnlist, data=alldfcontents )
result2.columns = ["WEEK","HOLIDAY_NAME","HOLIDAY_TYPE"]

finalresult = pd.concat([result1,result2], axis=1)
finalresult.head()

resultname='KOPO_PY_신성우_FINAL3'

finalresult.to_sql(resultname, engine1, if_exists='replace', index=False)